* {
  margin: 0;
  padding: 0;
}
main {
  font-family: "Inter", sans-serif;
  margin: 80px auto;
  max-width: 60vw;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  word-spacing: 15px;
}

nav,
a,
p {
  color: hsl(236, 13%, 42%);
}

nav {
  font-size: 14px;
  font-weight: 400;
}

.nav-li {
  display: inline-block;
}

.hamburger-menu {
  align-items: center;
  display: none;
  justify-content: center;
  margin-right: 20px;
}

.close-menu {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: hsl(5, 85%, 63%);
  transition: 0.2s ease;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  width: 300px;
}

.h1-container {
  max-width: 550px;
}

h2 {
  margin-top: 20px;
  margin-right: 195px;
}

span {
  font-size: 30px;
  letter-spacing: 1px;
}

.middle-p-container {
  max-width: 340px;
}

.middle-img {
  height: auto;
}

p {
  font-size: 15px;
}

.show-on-desktop {
  display: block;
}

.show-on-mobile {
  display: none;
}

.desktop-img {
  max-width: 100%;
}

.mobile-img {
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.button-link {
  background-color: hsl(5, 85%, 63%);
  border: none;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 10px 30px;
}

aside,
.aside-li,
.aside-heading,
.aside-heading-link,
.button-link,
.button-link:hover {
  color: hsl(36, 100%, 99%);
}

.button-link:hover,
aside {
  background-color: hsl(240, 100%, 5%);
}

aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 450px;
  width: 65%;
}

.aside-heading {
  padding: 25px 0 10px 0;
}

.aside-text {
  padding: 0 15px 0 15px;
  text-align: left;
}

.aside-p,
.aside-p-last {
  color: hsl(36, 100%, 99%);
  font-size: 12px;
  text-align: left;
}

.aside-heading-link:hover,
span {
  color: hsl(35, 77%, 62%);
}

hr,
.bottom-img-num {
  margin: 20px 15px 0 0;
}

hr {
  background-color: hsl(233, 8%, 79%);
  border: 0;
  height: 1px;
  margin-left: 15px;
  width: 87%;
}

.middle-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 100vw;
}

.article-container {
  display: flex;
  margin: 25px 0 50px 0;
}

.bottom-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
  width: 930px;
}

.bottom-img-container {
  align-items: flex-end;
  display: flex;
}

.bottom-img {
  margin-right: 20px;
  width: 30%;
}

.bottom-img-num {
  color: hsl(233, 8%, 79%);
  font-size: 22px;
  margin-bottom: 20px;
}

.bottom-img-heading {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 15px;
  word-spacing: 1px;
}

.bottom-heading-link {
  color: hsl(240, 100%, 5%);
}

.bottom-p {
  font-size: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.ul-menu {
  display: flex;
  gap: 15px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 575px) {
  main {
    max-width: 100vw;
    margin-top: 0;
  }

  header {
    margin: 20px 5px 0 20px;
    position: relative;
  }

  /* Toggle active state */
  .active#nav-links {
    background: #ffffff;
    display: block;
    height: 100;
    left: 160px;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    width: 80%;
    z-index: 1;
  }

  .hamburger-menu {
    align-items: center;
    background: transparent;
    border: none;
    display: block;
    left: 280px;
    margin-right: 0px;
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 1000;
  }

  /* Toggle active state */
  .active.hamburger-menu {
    display: none;
  }

  /* Hamburger Menu SVG */
  .active.mobile-menu {
    display: none;
  }

  .close-menu {
    border: none;
    background: transparent;
    display: inline-block;
    margin-right: 16px;
  }

  .mobile-menu-close {
    display: none;
  }

  /* Toggle active state */
  .active.close-menu {
    display: block;
  }

  .ul-menu {
    background: #ffffff;
    display: none;
    height: 100%;
    left: 185px;
    margin-top: 30px;
    position: fixed;
    top: -50px;
    width: 50%;
    z-index: 99;
  }

  /* Toggle active state */
  .active.ul-menu {
    display: block;
    transition-property: all;
  }

  .nav-li {
    display: block;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .nav-li:first-child {
    margin-top: 100px;
  }

  .show-on-mobile {
    display: flex;
    margin: 0 25px 0 25px;
    justify-content: center;
  }

  .show-on-desktop {
    display: none;
  }

  .middle-img {
    width: 100vw;
  }

  .mobile-img {
    height: auto;
    margin-top: 20px;
    max-width: 100%;
  }

  .article-container {
    flex-direction: column;
  }

  h1 {
    margin-left: 25px;
    text-align: left;
  }

  h2 {
    margin-top: 25px;
  }

  .middle-container {
    flex-direction: column;
  }

  .middle-p-container {
    margin: 20px 0 0 25px;
  }

  .button-container {
    margin-top: 20px;
  }

  aside {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-left: 15px;
    width: 315px;
  }

  span {
    letter-spacing: 1px;
  }

  .aside-text {
    padding: 0 30px 0 30px;
    text-align: left;
    word-spacing: 2px;
  }

  .aside-p-first {
    padding-right: 15px;
  }

  .aside-p-last {
    padding-bottom: 20px;
  }

  hr {
    margin: 25px 15px 0 25px;
  }

  .bottom-container {
    display: grid;
    gap: 30px;
    grid-template-columns: none;
    margin: 50px 0 100px 25px;
    width: auto;
  }

  .bottom-img-num {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .bottom-text {
    align-self: flex-end;
    margin-bottom: 0;
  }
}
